@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@import 'react-vertical-timeline-component/style.min.css';



@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Resets and Base Styles */
@layer base {
  :root {
    --background: 210 9% 11%; /* HSL equivalent of #13171E */
    --foreground: 224 71.4% 4.1%;
    --sidebar-background: 224 19% 22%; /* HSL equivalent of #2D3239 */
    --card-background: 210 13% 19%; /* HSL equivalent of #262B31 */
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 9% 11%; /* HSL equivalent of #13171E */
    --foreground: 210 20% 98%;
    --sidebar-background: 224 19% 22%; /* HSL equivalent of #2D3239 */
    --card-background: 210 13% 19%; /* HSL equivalent of #262B31 */
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

  * {
    @apply border-border;
  }

  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-background text-foreground;
    overflow: hidden; /* Hide the default scrollbar */
    height: 100vh; /* Ensure body takes full viewport height */
  }
}

/* Layout Specific Styles */
@layer base {
  .main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .map-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .top-right-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .menu-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
  }

  .menu-button img {
    width: 24px;
    height: 24px;
  }

  .controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .search-bar {
    display: flex;
    gap: 5px;
  }

  .marker {
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    z-index: 0;
  }

  .custom-scroll-area {
    overflow-y: auto;
    scroll-behavior: smooth; /* Enable smooth scrolling */
    height: 100%; /* Ensure it takes full height */
  }

  /* Custom scrollbar styles */
  .custom-scroll-area::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scroll-area::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scroll-area::-webkit-scrollbar-thumb {
    background-color: #2D3239; /* Updated scrollbar color */
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  .custom-scroll-area::-webkit-scrollbar-thumb:hover {
    background-color: rgba(45, 50, 57, 0.7); /* Darker color on hover */
  }

  /* Custom styles for the tabs component */
  .tabs {
    @apply flex flex-col;
  }

  .tabs-list {
    @apply flex justify-start;
  }

  .tabs-trigger {
    @apply relative inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
  }

  .tabs-trigger:hover {
    @apply bg-gray-600 text-white;
  }

  .tabs-trigger[data-state='active'] {
    @apply bg-gray-700 text-white;
  }

  .tabs-trigger::after {
    @apply absolute bottom-0 left-0 right-0 h-1 bg-blue-500 rounded-full;
    content: '';
    display: none;
  }

  .tabs-trigger[data-state='active']::after {
    @apply block;
  }
}

/* Component Specific Styles */
@layer base {
  .bg-custom-blue {
    background-color: #1C86EE;
  }

  .hidden-init {
    opacity: 0;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1A1C1F; /* Match background color */
  }

  /* Initially hide video controls */
  .video-container video::-webkit-media-controls {
    display: none !important;
  }

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid rgba(255, 255, 255, 0.3); /* Customize border color */
    border-top: 8px solid #fff; /* Customize top border color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  /* Show video controls after video has loaded */
  .video-container.video-loaded video::-webkit-media-controls {
    display: flex !important;
  }

  .custom-controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
  }

  .play-pause-button {
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }

  .react-player, .plyr__video-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .timeline-container {
    display: flex;
    height: 600px; /* Adjust height based on your design */
  }

  .timeline-segment {
    position: relative;
    border-bottom: 1px solid #ccc;
  }

  .timeline-segment span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .timeline-segment .left-0 {
    left: 10px;
  }

  .timeline-segment .right-0 {
    right: 10px;
  }

  .timeline-player {
    flex-grow: 1;
    margin-right: 16px; /* Adjust spacing between the video player and the timeline */
  }

  .video-player {
    flex: 3;
    padding-right: 20px;
  }

  .timeline {
    width: 200px; /* Adjust width based on your design */
    overflow-y: scroll;
    position: relative;
    background: #1f1f1f; /* Background color for the timeline */
  }

  .time-marker {
    height: 40px; /* Adjust height based on your design */
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Text color for the time markers */
  }

  .needle {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%; /* Center it vertically */
    height: 2px;
    background: red; /* Needle color */
  }

  video {
    width: 100%; /* Make the video player take the full width */
    height: auto; /* Ensure the video player maintains aspect ratio */
  }

  .vertical-timeline-element--work .vertical-timeline-element-content {
    cursor: pointer;
  }

  .vertical-timeline-element-title {
    color: #fff;
  }

  .vertical-timeline-element-content {
    background: #1f2937;
    border: 1px solid #3b82f6;
    border-radius: 8px;
  }

  .vertical-timeline-element-content:hover {
    background: #374151;
  }

  .vertical-timeline-element-icon {
    background: #3b82f6;
  }

  .vertical-timeline-element-date {
    color: #9ca3af;
  }

  .timeline-container video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  video {
    flex: 1; /* Make the video player take the remaining width */
    height: 100%; /* Ensure the video player takes the full height */
  }

  .thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .view-toggle-tabs-list {
    display: flex;
    gap: 1rem;
  }

  .view-toggle-tabs-trigger {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: background-color 0.3s;
  }

  .view-toggle-tabs-trigger img {
    width: 24px;
    height: 24px;
  }

  .view-toggle-tabs-trigger[data-state="active"] {
    background-color: #2d3748; /* Example active background color */
    border-radius: 0.375rem; /* Example border radius */
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .fade-in-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
  .custom-modal {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .modal-content {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to the modal card */
    border-radius: 8px; /* Optional: Add border radius for a softer look */
  }
  .custom-overlay {
    background: rgba(0, 0, 0, 0.75); /* Darken the overlay background */
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
